@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




html, body {
  height: 100%;
  margin: 0; 
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: auto;
}

body {
  scroll-behavior: smooth;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

